/* Fix problems in the official css */

body {
    font-family: -apple-system, BlinkMacSystemFont, ubuntu, roboto, noto, 'segoe ui', 'helvetica new', helvetica, arial, sans-serif;
}

.input__field {
    font-size: inherit;
    /* Quick fix for gnome themes that change this */
    background-color: white;
}

.input__field:disabled {
    background-color: ThreeDLightShadow;
}
